[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@wob@/bin/wob --config /nix/store/00000000000000000000000000000000-wob.ini
StandardInput=socket

[Unit]
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=A lightweight overlay volume/backlight/progress/anything bar for Wayland
Documentation=man:wob(1)
PartOf=graphical-session.target
