[Install]
WantedBy=graphical-session.target

[Service]
ExecReload=@eww@/bin/eww reload
ExecStart=@eww@/bin/eww daemon --no-daemonize
ExecStop=@eww@/bin/eww kill
Type=simple

[Unit]
After=graphical-session.target
Description=ElKowars wacky widgets daemon
PartOf=graphical-session.target
