[Install]
WantedBy=graphical-session.target

[Service]
Environment=PATH=@coreutils@/bin:@xdotool@/bin:@xorg.xprop@/bin
ExecStart=@fusuma@/bin/fusuma

[Unit]
After=graphical-session-pre.target
Description=Fusuma services
PartOf=graphical-session.target
