*                                                     @rycee

/flake.nix                                            @bqv @kisik21

Makefile                                              @thiagokokada

/modules/config/home-cursor.nix                       @polykernel @league

/modules/config/i18n.nix                              @midchildan
/tests/modules/config/i18n                            @midchildan

/modules/home-environment.nix                         @rycee

/modules/i18n/input-method                            @Kranzes
/tests/modules/i18n/input-method                      @Kranzes

/modules/launchd                                      @midchildan

/modules/lib/generators.nix                           @h7x4
/test/lib/generators                                  @h7x4

/modules/misc/dconf.nix                               @rycee

/modules/misc/editorconfig.nix                        @loicreynier
/test/modules/misc/editorconfig                       @loicreynier

/modules/misc/fontconfig.nix                          @rycee
/tests/modules/misc/fontconfig                        @rycee

/modules/misc/gtk.nix                                 @rycee

/modules/misc/news.nix                                @rycee

/modules/misc/nix.nix                                 @polykernel
/tests/modules/misc/nix                               @polykernel

/modules/misc/nixpkgs-disabled.nix                    @thiagokokada

/modules/misc/numlock.nix                             @evanjs
/tests/modules/misc/numlock                           @evanjs

/modules/misc/pam.nix                                 @rycee
/tests/modules/misc/pam                               @rycee

/modules/misc/qt.nix                                  @rycee

/modules/misc/submodule-support.nix                   @rycee

/modules/misc/tmpfiles.nix                            @dawidsowa

/modules/misc/vte.nix                                 @rycee

/modules/misc/xdg-mime-apps.nix                       @pacien

/modules/misc/xdg-user-dirs.nix                       @pacien

/modules/misc/xdg-system-dirs.nix                     @tadfisher
/tests/modules/misc/xdg/system-dirs.nix               @tadfisher

/modules/misc/xdg-desktop-entries.nix                 @cwyc
/tests/modules/misc/xdg/desktop-entries.nix           @cwyc
/tests/modules/misc/xdg/desktop-full-expected.desktop @cwyc
/tests/modules/misc/xdg/desktop-min-expected.desktop  @cwyc

/modules/misc/xfconf.nix                              @chuangzhu

/modules/programs/aerc.nix                            @lukasngl
/modules/programs/aerc-accounts.nix                   @lukasngl
/tests/modules/programs/aerc                          @lukasngl

/modules/programs/aria2.nix                           @JustinLovinger

/modules/programs/autojump.nix                        @evanjs
/tests/modules/programs/autojump                      @evanjs

/modules/programs/atuin.nix                           @hawkw
/tests/modules/programs/atuin                         @hawkw

/modules/programs/autorandr.nix                       @uvNikita

/modules/programs/bash.nix                            @rycee

/modules/programs/bashmount.nix                       @AndersonTorres

/modules/programs/bat.nix                             @marsam

/modules/programs/beets.nix                           @rycee

/modules/programs/bottom.nix                          @polykernel
/tests/modules/programs/bottom                        @polykernel

/modules/programs/broot.nix                           @aheaume @dermetfan

/modules/programs/btop.nix                            @GaetanLepage
/tests/modules/programs/btop.nix                      @GaetanLepage

/modules/programs/dircolors.nix                       @JustinLovinger

/modules/programs/direnv.nix                          @rycee

/modules/programs/discocss.nix                        @Kranzes

/modules/programs/eclipse.nix                         @rycee

/modules/programs/emacs.nix                           @rycee

/modules/programs/eww.nix                             @mainrs

/modules/programs/exa.nix                             @kalhauge

/modules/programs/firefox.nix                         @rycee

/modules/programs/foot.nix                            @plabadens
/tests/modules/programs/foot                          @plabadens

/modules/services/fusuma.nix                          @iosmanthus
/tests/modules/services/fusuma                        @iosmanthus

/modules/programs/gallery-dl.nix                      @marsam
/tests/modules/programs/gallery-dl                    @marsam

/modules/programs/gh.nix                              @Gerschtli @berbiche
/tests/modules/programs/gh                            @Gerschtli @berbiche

/modules/programs/git.nix                             @rycee

/modules/programs/gitui/gitui.nix                     @mifom
/modules/programs/gitui/default_key_config.ron        @mifom

/modules/programs/gnome-terminal.nix                  @kamadorueda @rycee

/modules/programs/go.nix                              @rvolosatovs

/modules/programs/havoc.nix                           @AndersonTorres

/modules/programs/helix.nix                           @Philipp-M
/tests/modules/programs/helix                         @Philipp-M

/modules/programs/hexchat.nix                         @thiagokokada
/tests/modules/programs/hexchat                       @thiagokokada

/modules/programs/himalaya.nix                        @toastal
/tests/modules/programs/himalaya                      @toastal

/modules/programs/home-manager.nix                    @rycee

/modules/programs/htop.nix                            @bjpbakker
/tests/modules/htop                                   @bjpbakker

/modules/programs/hyfetch.nix                         @lilyinstarlight
/tests/modules/programs/hyfetch                       @lilyinstarlight

/modules/programs/i3status.nix                        @JustinLovinger

/modules/programs/i3status-rust.nix                   @workflow @thiagokokada
/tests/modules/programs/i3status-rust                 @thiagokokada

/modules/programs/ion.nix                             @jo1gi

/modules/programs/java.nix                            @ShamrockLee

/modules/programs/just.nix                            @maximsmol

/modules/programs/k9s.nix                             @katexochen
/tests/modules/programs/k9s                           @katexochen

/modules/programs/keychain.nix                        @marsam

/modules/programs/kodi.nix                            @dwagenk
/tests/modules/programs/kodi                          @dwagenk

/modules/programs/lazygit.nix                         @kalhauge

/modules/programs/ledger.nix                          @marsam

/modules/programs/less.nix                            @pamplemousse
/tests/modules/programs/less                          @pamplemousse

/modules/programs/lesspipe.nix                        @rycee

/modules/programs/lf.nix                              @owm111
/tests/modules/programs/lf                            @owm111

/modules/programs/librewolf.nix                       @onny

/modules/programs/lieer.nix                           @tadfisher

/modules/programs/looking-glass-client.nix            @j-brn
/tests/modules/programs/looking-glass-client          @j-brn

/modules/programs/lsd.nix                             @marsam

/modules/programs/matplotlib.nix                      @rprospero

/modules/programs/mangohud.nix                        @ZerataX
/tests/modules/programs/mangohud                      @ZerataX

/modules/programs/mbsync.nix                          @KarlJoad
/tests/modules/programs/mbsync                        @KarlJoad

/modules/programs/mcfly.nix                           @marsam

/modules/programs/micro.nix                           @MForster
/tests/modules/programs/micro                         @MForster

/modules/programs/mpv.nix                             @tadeokondrak @thiagokokada @chuangzhu
/tests/modules/programs/mpv                           @thiagokokada @chuangzhu

/modules/programs/mu.nix                              @KarlJoad

/modules/programs/mujmap.nix                          @elizagamedev
/tests/modules/programs/mujmap                        @elizagamedev

/modules/programs/navi.nix                            @marsam

/modules/programs/ncmpcpp.nix                         @olmokramer
/tests/modules/programs/ncmpcpp                       @olmokramer
/tests/modules/programs/ncmpcpp-linux                 @olmokramer

/modules/programs/ncspot.nix                          @marsam

/modules/programs/ne.nix                              @cwyc
/tests/modules/programs/ne                            @cwyc

/modules/programs/newsboat.nix                        @sumnerevans
/tests/modules/programs/newsboat                      @sumnerevans

/modules/programs/nheko.nix                           @gvolpe
/tests/modules/programs/nheko                         @gvolpe

/modules/programs/nix-index.nix                       @ambroisie
/tests/modules/programs/nix-index                     @ambroisie

/modules/programs/nnn.nix                             @thiagokokada
/tests/modules/programs/nnn                           @thiagokokada

/modules/programs/noti.nix                            @marsam

/modules/programs/nushell.nix                         @Philipp-M
/tests/modules/programs/nushell                       @Philipp-M

/modules/programs/obs-studio.nix                      @adisbladis

/modules/programs/octant.nix                          @06kellyjac

/modules/programs/oh-my-posh.nix                      @arjan-s
/tests/modules/programs/oh-my-posh                    @arjan-s

/modules/programs/opam.nix                            @marsam

/modules/programs/openssh.nix                         @rycee

/modules/programs/pandoc.nix                          @kirelagin
/tests/modules/programs/pandoc                        @kirelagin

/modules/programs/papis.nix                           @marsam
/tests/modules/programs/papis                         @marsam

/modules/programs/password-store.nix                  @pacien

/modules/programs/pazi.nix                            @marsam

/modules/programs/pidgin.nix                          @rycee

/modules/programs/pistol.nix                          @mtoohey31
/tests/modules/programs/pistol                        @mtoohey31

/modules/programs/piston-cli.nix                      @ethancedwards8

/modules/programs/pls.nix                             @arjan-s
/tests/modules/programs/pls                           @arjan-s

/modules/programs/polybar.nix                         @h7x4
/tests/modules/programs/polybar                       @h7x4

/modules/programs/powerline-go.nix                    @DamienCassou

/modules/programs/pubs.nix                            @loicreynier
/tests/modules/programs/pubs                          @loicreynier

/modules/programs/pylint.nix                          @florpe

/modules/programs/rbenv.nix                           @marsam

/modules/programs/rbw.nix                             @ambroisie
/tests/modules/programs/rbw                           @ambroisie

/modules/programs/rofi.nix                            @thiagokokada
/tests/modules/programs/rofi                          @thiagokokada

/modules/programs/rofi-pass.nix                       @seylerius
/tests/modules/programs/rofi-pass                     @seylerius

/modules/programs/rtorrent.nix                        @marsam

/modules/programs/sagemath.nix                        @kirelagin
/tests/modules/programs/sagemath                      @kirelagin

/modules/programs/sbt.nix                             @kubukoz
/tests/modules/programs/sbt                           @kubukoz

/modules/programs/scmpuff.nix                         @cpcloud
/tests/modules/programs/scmpuff                       @cpcloud

/modules/programs/senpai.nix                          @malte-v

/modules/programs/sioyek.nix                          @podocarp

/modules/programs/sm64ex.nix                          @ivarwithoutbones
/tests/modules/programs/sm64ex                        @ivarwithoutbones

/modules/programs/sqls.nix                            @marsam

/modules/programs/ssh.nix                             @rycee

/modules/programs/starship.nix                        @marsam

/modules/programs/swaylock.nix                        @rcerc
/tests/modules/programs/swaylock                      @rcerc

/modules/programs/tealdeer.nix                        @marsam

/modules/programs/terminator.nix                      @chisui

/modules/programs/texlive.nix                         @rycee

/modules/programs/thunderbird.nix                     @d-dervishi
/tests/modules/programs/thunderbird                   @d-dervishi

/modules/programs/timidity.nix                        @amesgen

/modules/programs/tint2.nix                           @CarlosLoboxyz

/modules/programs/tiny.nix                            @kmaasrud

/modules/programs/tmate.nix                           @jlesquembre
/tests/modules/programs/tmate                         @jlesquembre

/modules/programs/topgrade.nix                        @msfjarvis
/tests/modules/programs/topgrade                      @msfjarvis

/modules/programs/vim-vint.nix                        @tomodachi94
/tests/modules/programs/vim-vint                      @tomodachi94

/modules/programs/watson.nix                          @polykernel
/tests/modules/programs/watson                        @polykernel

/modules/programs/waybar.nix                          @berbiche
/tests/modules/programs/waybar                        @berbiche

/modules/programs/wezterm.nix                         @blmhemu
/tests/modules/programs/wezterm                       @blmhemu

/modules/programs/xmobar.nix                          @t4ccer
/tests/modules/programs/xmobar                        @t4ccer

/modules/programs/yt-dlp.nix                          @marsam
/tests/modules/programs/yt-dlp                        @marsam

/modules/programs/z-lua.nix                           @marsam

/modules/programs/zathura.nix                         @rprospero

/modules/programs/zellij.nix                          @mainrs

/modules/programs/zoxide.nix                          @marsam

/modules/programs/zsh/prezto.nix                      @NickHu

/modules/services/autorandr.nix                       @GaetanLepage

/modules/services/avizo.nix                           @pltanton

/modules/services/barrier.nix                         @Kritnich
/tests/modules/services/barrier                       @Kritnich

/modules/services/betterlockscreen.nix                @SebTM

/modules/programs/borgmatic.nix                       @DamienCassou
/modules/services/borgmatic.nix                       @DamienCassou
/tests/modules/programs/borgmatic                     @DamienCassou
/tests/modules/services/borgmatic                     @DamienCassou

/modules/services/caffeine.nix                        @uvNikita

/modules/services/cbatticon.nix                       @pmiddend

/modules/services/clipman.nix                         @jwygoda
/tests/modules/services/clipman                       @jwygoda

/modules/services/clipmenu.nix                        @DamienCassou

/modules/services/devilspie2.nix                      @dawidsowa
/tests/modules/services/devilspie2                    @dawidsowa

/modules/services/dropbox.nix                         @eyJhb
/tests/modules/services/dropbox                       @eyJhb

/modules/services/dunst.nix                           @rycee

/modules/services/easyeffects.nix                     @fufexan

/modules/services/emacs.nix                           @tadfisher

/modules/services/etesync-dav.nix                     @Valodim

/modules/services/espanso.nix                         @lucasew

/modules/services/flameshot.nix                       @moredhel

/modules/services/fluidsynth.nix                      @Valodim

/modules/services/fnott.nix                           @polykernel
/tests/modules/services/fnott                         @polykernel

/modules/services/git-sync.nix                        @IvanMalison @cab404

/modules/services/gnome-keyring.nix                   @rycee

/modules/services/gpg-agent.nix                       @rycee

/modules/services/grobi.nix                           @mbrgm

/modules/services/gromit-mpx.nix                      @pjones
/tests/modules/services/gromit-mpx                    @pjones

/modules/services/home-manager-auto-upgrade.nix       @pinage404
/tests/modules/services/home-manager-auto-upgrade     @pinage404

/modules/services/hound.nix                           @adisbladis

/modules/services/imapnotify.nix                      @nickhu

/modules/services/kanshi.nix                          @nurelin
/tests/modules/services/kanshi                        @nurelin

/modules/services/kdeconnect.nix                      @adisbladis

/modules/services/keepassx.nix                        @rycee

/modules/services/lieer.nix                           @tadfisher

/modules/services/lorri.nix                           @Gerschtli

/modules/services/mako.nix                            @onny

/modules/services/mbsync.nix                          @pjones

/modules/services/megasync.nix                        @GaetanLepage

/modules/services/mopidy.nix                          @foo-dogsquared
/tests/modules/services/mopidy                        @foo-dogsquared

/modules/services/mpdris2.nix                         @pjones

/modules/services/mpd-mpris.nix                       @olmokramer
/tests/modules/services/mpd-mpris                     @olmokramer

/modules/services/mpd-discord-rpc.nix                 @Kranzes

/modules/services/mpris-proxy.nix                     @ThibautMarty

/modules/services/muchsync.nix                        @pacien

/modules/services/network-manager-applet.nix          @rycee

/modules/services/notify-osd.nix                      @imalison

/modules/services/opensnitch-ui.nix                   @onny

/modules/services/pantalaimon.nix                     @jojosch
/tests/modules/services/pantalaimon                   @jojosch

/modules/services/parcellite.nix                      @gleber

/modules/services/pass-secret-service.nix             @cab404

/modules/services/password-store-sync.nix             @pacien

/modules/services/pasystray.nix                       @pltanton

/modules/services/picom.nix                           @thiagokokada
/tests/modules/services/picom                         @thiagokokada

/modules/services/pbgopy.nix                          @ivarwithoutbones
/tests/modules/services/pbgopy                        @ivarwithoutbones

/modules/services/plan9port.nix                       @ehmry

/modules/services/playerctld.nix                      @fendse
/tests/modules/playerctld                             @fendse

/modules/services/plex-mpv-shim.nix                   @starcraft66

/modules/services/poweralertd.nix                     @ThibautMarty

/modules/services/pueue.nix                           @AndersonTorres

/modules/services/pulseeffects.nix                    @jonringer

/modules/services/random-background.nix               @rycee

/modules/services/recoll.nix                          @foo-dogsquared
/tests/modules/recoll                                 @foo-dogsquared

/modules/services/redshift-gammastep                  @rycee @petabyteboy @thiagokokada
/tests/modules/redshift-gammastep                     @thiagokokada

/modules/services/safeeyes                            @Rosuavio

/modules/services/screen-locker.nix                   @jrobsonchase @rszamszur
/tests/modules/services/screen-locker                 @jrobsonchase @rszamszur

/modules/services/sctd.nix                            @somasis

/modules/services/status-notifier-watcher.nix         @pltanton

/modules/services/swayidle.nix                        @c0deaddict
/tests/modules/services/swayidle                      @c0deaddict

/modules/services/syncthing.nix                       @rycee

/modules/services/systembus-notify.nix                @asymmetric

/modules/services/taffybar.nix                        @rycee

/modules/services/tahoe-lafs.nix                      @rycee

/modules/services/taskwarrior-sync.nix                @minijackson @pacien

/modules/services/trayer.nix                          @AndreasMager
/tests/modules/services/trayer                        @AndreasMager

/modules/services/twmn.nix                            @Austreelis
/tests/modules/services/twmn                          @Austreelis

/modules/services/udiskie.nix                         @rycee
/tests/modules/services/udiskie                       @rycee

/modules/services/unison.nix                          @pacien

/modules/services/volnoti.nix                         @IvanMalison

/modules/services/window-managers/bspwm               @ncfavier
/tests/modules/services/window-managers/bspwm         @ncfavier

/modules/services/window-managers/fluxbox.nix         @AndersonTorres

/modules/services/window-managers/herbstluftwm        @olmokramer
/tests/modules/services/window-managers/herbstluftwm  @olmokramer

/modules/services/window-managers/i3-sway/i3.nix      @sumnerevans @sebtm
/tests/modules/services/window-managers/i3            @sumnerevans @sebtm

/modules/services/window-managers/i3-sway/lib         @sumnerevans @sebtm

/modules/services/window-managers/i3-sway/sway.nix    @alexarice @sumnerevans @sebtm
/tests/modules/services/window-managers/sway          @sumnerevans @sebtm

/modules/services/window-managers/i3-sway/swaynag.nix @polykernel

/modules/services/window-managers/spectrwm            @loicreynier
/tests/modules/services/window-managers/spectrwm      @loicreynier

/modules/services/wlsunset.nix                        @matrss
/tests/modules/services/wlsunset                      @matrss

/modules/services/xcape.nix                           @nickhu

/modules/services/xembed-sni-proxy.nix                @rycee

/modules/services/xidlehook.nix                       @dschrempf @bertof

/modules/services/xscreensaver.nix                    @rycee

/modules/services/xsuspender.nix                      @offlinehacker

/modules/systemd.nix                                  @rycee

/modules/targets/darwin                               @midchildan
/tests/modules/targets-darwin                         @midchildan

/modules/xresources.nix                               @rycee

/modules/xsession.nix                                 @rycee
