[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@gammastep@/bin/gammastep -v -c /home/hm-user/.config/gammastep/config.ini
Restart=on-failure
RestartSec=3

[Unit]
After=graphical-session-pre.target
Description=Gammastep colour temperature adjuster
Documentation=https://gitlab.com/chinstrap/gammastep/
PartOf=graphical-session.target
