[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@redshift@/bin/redshift -v -c /home/hm-user/.config/redshift/redshift.conf
Restart=on-failure
RestartSec=3

[Unit]
After=graphical-session-pre.target
Description=Redshift colour temperature adjuster
Documentation=http://jonls.dk/redshift/
PartOf=graphical-session.target
