[Install]
WantedBy=timers.target

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=1m
Unit=neverest.service

[Unit]
Description=neverest mail synchronization
