[Desktop Entry]
Type=Application
Exec=test --option
Terminal=true
Name=Test
Icon=test
Comment=My Application
GenericName=Web Browser
MimeType=text/html;text/xml;
Categories=Application;Network;WebBrowser;
StartupNotify=false
NoDisplay=false
DBusActivatable=false

