<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.nix-community.home.sketchybar</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/nix/store/00000000000000000000000000000000-sketchybar/bin/sketchybar</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/home/hm-user/Library/Logs/sketchybar/sketchybar.err.log</string>
	<key>StandardOutPath</key>
	<string>/home/hm-user/Library/Logs/sketchybar/sketchybar.out.log</string>
</dict>
</plist>