[Service]
ExecStart=@tldr@/bin/dummy --update

Type=oneshot

[Unit]
After=network-online.target
Description=Update tldr CLI cache
Documentation=https://tldr.sh/
Wants=network-online.target
