[Install]
WantedBy=timers.target

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=42min
Unit=nix-gc.service

[Unit]
Description=Nix Garbage Collector
