[Install]
WantedBy=default.target

[Service]
ExecStart=@openssh@/bin/ssh-agent -D -a %t/ssh-agent/socket
ExecStartPost=@dbus@/bin/dbus-update-activation-environment --systemd SSH_AUTH_SOCK=%t/ssh-agent/socket


[Unit]
Description=SSH authentication agent
Documentation=man:ssh-agent(1)
