[Service]
Environment=NOTMUCH_CONFIG=/home/hm-user/.config/notmuch/notmuchrc
ExecStart=@gmailieer@/bin/gmi sync
Type=oneshot
WorkingDirectory=/home/hm-user/Mail/hm@example.com

[Unit]
ConditionPathExists=/home/hm-user/Mail/hm@example.com/.gmailieer.json
Description=lieer Gmail synchronization for hm@example.com
