[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@elephant@/bin/elephant
Restart=on-failure

[Unit]
After=graphical-session.target
Description=Elephant - Data provider for application launchers
PartOf=graphical-session.target
