[Install]
WantedBy=graphical-session.target

[Service]
BusName=fr.arouillard.waybar
ExecStart=@waybar@/bin/waybar
KillMode=mixed
Restart=always
RestartSec=1sec
Type=dbus

[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=https://github.com/Alexays/Waybar/wiki
PartOf=graphical-session.target
