settings = {
  core = {
    settings_autosave = "no";
  };
};

aliases = {

};

chatnets = {
oftc = {
  type = "IRC";
  nick = "nick";
  autosendcmd = "";
};

};

servers = (
{
  chatnet = "oftc";
  address = "irc.oftc.net";
  port = "6697";
  use_ssl = "yes";
  ssl_verify = "yes";
  autoconnect = "yes";
  ssl_cert = "/home/hm-user/.irssi/certs/nick.pem";

}

);

channels = (
{
  chatnet = "oftc";
  name = "home-manager";
  autojoin = "yes";
}

);


