[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@linux-wallpaperengine@/bin/linux-wallpaperengine --assets-dir /some/path/to/assets --fps 6 --silent --noautomute --no-audio-processing --screen-root HDMI-1 --scaling fit --bg 12345678 --screen-root DP-1 --scaling fill --playlist config.json
Restart=on-failure

[Unit]
After=graphical-session.target
Description=Implementation of Wallpaper Engine on Linux
PartOf=graphical-session.target
