[Install]
WantedBy=default.target

[Service]
BusName=org.mpris.MediaPlayer2.mpd
ExecStart=@mpd-mpris@/bin/mpd-mpris -no-instance
Restart=on-failure
RestartSec=5s
Type=dbus

[Unit]
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
