[Install]
WantedBy=default.target

[Service]
BusName=org.mpris.MediaPlayer2.mpd
ExecStart=@mpd-mpris@/bin/mpd-mpris -host example.com -network tcp -no-instance -port 1234 -pwd-file /path/to/my_password
Restart=on-failure
RestartSec=5s
Type=dbus

[Unit]
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
