[Install]
WantedBy=default.target

[Service]
ExecStart=@mpd-mpris@/bin/mpd-mpris -host 'example.com' -network 'tcp' -no-instance -port 1234 -pwd 'my_password'
Restart=on-failure
RestartSec=5s
Type=simple

[Unit]
After=mpd.service
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
