[Install]
WantedBy=sway-session.target

[Service]
Environment=QT_QPA_PLATFORM=xcb
ExecStart=@copyq@/bin/copyq
Restart=on-failure

[Unit]
After=graphical-session.target
Description=CopyQ clipboard management daemon
PartOf=graphical-session.target
