[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@swww@/bin/swww-daemon --no-cache --layer bottom
Restart=always
RestartSec=10

[Unit]
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=swww-daemon
PartOf=graphical-session.target
