[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=@hypridle@/bin/dummy
Restart=always
RestartSec=10

[Unit]
After=graphical-session-pre.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=hypridle
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hypridle/
PartOf=graphical-session.target
X-Restart-Triggers=/nix/store/00000000000000000000000000000000-hm_hyprhypridle.conf
