[Install]
WantedBy=graphical-session.target

[Service]
Environment=PATH=@paprefs@/bin:@pavucontrol@/bin
ExecStart=@pasystray@/bin/pasystray -g

[Unit]
After=graphical-session-pre.target
After=tray.target
Description=PulseAudio system tray
PartOf=graphical-session.target
Requires=tray.target
