[Install]
WantedBy=default.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
DynamicUser=true
ExecStart="@ghostunnel@/bin/ghostunnel" "server" "--listen" "127.0.0.1:8443" "--target" "127.0.0.1:8080" "--allow-all" --cert=${CREDENTIALS_DIRECTORY}/cert --key=${CREDENTIALS_DIRECTORY}/key
LoadCredential=cert:/run/secrets/cert.pem
LoadCredential=key:/run/secrets/key.pem
Restart=always
RestartSec=5
Type=simple

[Unit]
After=network.target
Wants=network.target
