[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@glance@/bin/glance --config /home/hm-user/.config/glance/glance.yml

[Unit]
Description=Glance feed dashboard server
PartOf=graphical-session.target
