[Install]
WantedBy=graphical-session-pre.target

[Service]
ExecStart=@gnome-keyring@/bin/gnome-keyring-daemon --start --foreground
Restart=on-abort

[Unit]
Description=GNOME Keyring
PartOf=graphical-session-pre.target
