[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@picom@/bin/dummy --config /nix/store/00000000000000000000000000000000-hm_picompicom.conf --legacy-backends
Restart=always
RestartSec=3

[Unit]
After=graphical-session-pre.target
Description=Picom X11 compositor
PartOf=graphical-session.target
