[Install]
WantedBy=default.target

[Service]
ExecStart=@espanso@/bin/espanso daemon
Restart=on-failure
Type=exec

[Unit]
Description=Espanso: cross platform text expander in Rust
