[Install]
WantedBy=default.target

[Service]
ExecStart=@sequoia-keystore-server@/bin/sequoia-keystore --sequoia-home /home/hm-user/.local/share/sequoia --home /home/hm-user/.local/share/sequoia/keystore --ephemeral false --lib /home/hm-user/.local/libexec/sequoia --debug
Restart=on-failure

[Unit]
Description=Sequoia Key Store
Documentation=https://gitlab.com/sequoia-pgp/sequoia-keystore
