[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=@walker@/bin/walker --gapplication-service
Restart=on-failure

[Unit]
After=graphical-session.target
After=elephant.service
Description=Walker - Application Runner
Requires=elephant.service
