[Install]
WantedBy=sockets.target

[Socket]
DirectoryMode=0700
FileDescriptorName=server
ListenStream=%T/emacs%U/server
SocketMode=0600

[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
