[Install]
RequiredBy=emacs.service
WantedBy=sockets.target

[Socket]
DirectoryMode=0700
FileDescriptorName=server
FlushPending=true
ListenStream=%t/emacs/server
SocketMode=0600

[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
