[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Edit text
Exec=@emacs@/bin/emacsclient -c %u
GenericName=Text Editor
Icon=emacs
MimeType=application/x-shellscript;text/english;text/plain;text/x-c;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;x-scheme-handler/org-protocol;
Name=Emacs Client
StartupWMClass=Emacs
Terminal=false
Type=Application
